@media (max-width: 991px) {
    .banner-h1 {
        font-size: 34px;
    } 
    .banner-phara {
        font-size: 22px;
    }
}
@media (max-width: 768px) {
    .banner-h1 {
        font-size: 34px;
    } 
    .banner-phara {
        font-size: 22px;
    }
    .button-one {
        padding: 8px 42px;
    }
    .button-two {
        padding: 8px 42px;
    }
    .button-three {
        padding: 8px 12px;
    }
    .bulb-img:before {
        width: 71px;
        height: 71px;
        right: 0px;
    }
    .plan-h2 {
        padding: 0;
    }
    .botm-text {
        font-size: 20px;
        padding: 11px 0px;
    }
    .comn-heading {
        font-size: 30px;
    }
    .px-180 {
        padding: 0;
    }
}
@media (max-width: 425px) {
    
}
