*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,ul,li{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif; 
}
p {
    font-family: 'Josefin Sans', sans-serif; 
}
:root {
    --color-dark-vilont: #3d5af1;
    --color-light-vilont:#7c90f3 ;
    --color-very-light-vilont:#c4cdff ;
    --color-light-gray:#e3e6e8;
    --color-light-black:#2f3337;
    --color-light-dark-black:#00000000;
    --color-light-white:#ffffff;

}
.dar-gre{
    color: var(--color-dark-vilont);}
.light-gray{
    color: var( --lgt-gray-color);}
.dark-black{
    color: var(--black-color);}
.white-color{
    color: var(--white-color);}

/*........................ nav-bar.......................... */
/* 
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.custm-nav {
    position: fixed;
    min-width: auto;
    box-shadow: var(--bs-sm);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5050;
    background-color: #f8f9f9;
    height: 50px;
    font-family: var(--ff-sans);
    box-sizing: border-box;
    border-top:3px solid #f48225;
} */


/* ----------------------------------------------------------------------------- */

.inter-botm-details {
    border: 1px solid #9fa6ad;
    padding: 6px 12px;
    font-size: 13px;
    border-radius: 30px;
    margin-right: 5px;
}

/* .arm-heading a{
    font-size: 16px;
    color: #0074cc;
    text-decoration: none;
}
.arm-heading a:hover {
    color: #0a95ff;
} */
/* .post-tag{
    color: #39739d;
    background-color: hsl(205deg 46% 92%);
    border-color: #00000000;
    text-decoration: none;
    font-size: 12px;
    margin-right: 5px;
    border-radius: 5px;
    padding: 5px;
} */
/* .post-tag:hover{
    background-color: hsl(205deg 100% 90%);
}
.post-tag :hover{
    background-color: #3e7094;
} */
/* .votes-info {
    text-align: center;
    color: #838c95;
    font-size: 12px;
    text-decoration: none;
}
.votes-info:hover{
    color: #838c95;
} */

/* -------------------------------------------------------- */
/* .slider-widget {
    background-color: #fbf3d5;
    border: 1px solid #f1e5bc;
}
.list-slider {
    background-color: #fdf7e2;
}
.overflow-heading {
    color: #3b4045;
    font-size: 12px;
    font-weight: bold;
    padding: 15px;
}
.pen-icon {
    color: #3b4045;
    font-size: 12px;
}
.pen-txt {
    color: #3b4045;
    font-size: 13px;
}
.slider-details {
    border: 1px solid #f1e5bc;
    box-shadow: 0px 2px 13px rgb(0 0 0 / 8%);
}
.slider-bordr {
    border-right: 1px solid gray;
} */











.postimg {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
.post-name{
color: var(--color-dark-vilont);
}
.post-image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.postby {
    color: #9fa6ad;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-layout {
    
    padding: 10px;
    border-radius: 15px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}
.answers-header {
    
    padding: 10px;
    border-radius: 15px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    margin-top:50px
}
.custm-primary {
    color: var(--color-light-white);
    background-color: var(--color-dark-vilont);
    border-color: var(--color-dark-vilont);
    padding: 12px 80px;
    border-radius: 40px;
}
.custm-primary:hover {
    color: var(--color-light-white);
    background-color: var(--color-light-vilont);
    border-color: var(--color-light-vilont);
}
.ques {
    margin-top: 35px;
}
.ligrayicon {
    font-size: 20px;
    color: var(--color-dark-vilont);
}
.ligrayicon:hover {
    color: #babfc4;
}
.ligrayicon-txt {
    font-size: 14px;
    color: #666b71;
}
.date-text {
    color: #666b71;
}
.appear {
    padding: 2px 4px;
    color: #232629;
    background-color: var(--color-light-gray);
    border-radius: 3px;
}
.lang-html {
    font-size: 13px;
    font-family: var(--ff-mono);
    line-height: 1.30769231;
    color:var(--color-light-black);
    background-color:var(--color-very-light-vilont);
    border-radius: 5px;
    margin: 0;
    padding: 12px;
    overflow: auto;
}
.dies{
    align-items: baseline;
}
.questin-tag {
    color: var(--color-dark-vilont);
    background: #e1ecf4;
    border: 1px solid var(--color-light-dark-black);
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    font-size: 11px;
    border-radius: 3px;
}
.questin-tag:hover {
    color: var(--color-light-white);
    background-color: var(--color-dark-vilont);
}
.js-comment {
    color: #f48225;
    font-size: 14px;
}
.comment-text {
    font-size: 14px;
}
.number {
    color: #9199a1;
    font-size: 14px;
}
.vote-cell-li {
    padding: 0;
    margin: 0;
    line-height: 0;
}
header {
    box-shadow: 0px 2px 13px rgb(0 0 0 / 8%);
    border-bottom: 1px solid gainsboro;
    position: sticky;
    z-index: 6;
    top: 0;
    background: var(--color-light-white);
}
.bordr-line {
    border-right: 1px solid gray;
}
.sidenav {
    height: 100%;
    width: 207px;
    position: fixed;
    z-index: 1;
    top: 0;
    /* left: 0; */
    background-color: #f3f3f3;
    overflow-x: hidden;
    padding-top: 62px;
  }
  .post-dots {
      font-size: 7px;
  }
.element-style:hover{
    background-color: var(--color-dark-vilont);
    color: var(--color-light-white);
    /* border-right: 5px solid orange; */
}
  .sidenav a {
    padding: 10px 30px 10px 20px;
    text-decoration: none;
    font-size: 14px;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  a {
    text-decoration: none;
    color: #000000;
  }
  
  a:hover {
    color: #222222
  }
  
  /* Dropdown */
  
  .dropdown {
    display: inline-block;
    position: relative;
    width: 100%;
  }
  
  .dd-button {
    display: inline-block;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    padding: 10px 30px 10px 20px;
    cursor: pointer;
    white-space: nowrap;
    width: 100%;
  }
  
  .dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(0, 0, 0);
  }
  .dd-button:hover {
    background-color: var(--color-dark-vilont);
    color: #ffffff;
  }
  
  
  .dd-input {
    display: none;
  }
  
  .dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    width:100%;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
  }
  
  .dd-input + .dd-menu {
    display: none;
  } 
  
  .dd-input:checked + .dd-menu {
    display: block;
  } 
  
  .dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
    color: #000;
  }
  
  .dd-menu li:hover {
    background-color: #c4cdff;
    color: #000;
  }
  
  .dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
  }
  
  .dd-menu li.divider{
    padding: 0;
    border-bottom: 1px solid #cccccc;
  }